services:
  api:
    container_name: api
    restart: unless-stopped
    build: ./api
    ports:
      - "8000:8000"
    networks:
      - app-network
    volumes:
      - ./file-storage:/data
    depends_on:
      - redis
  
  worker:
    container_name: worker
    restart: unless-stopped
    build: ./worker
    networks:
      - app-network
    depends_on:
      - api
      - redis
    volumes:
      - ./file-storage:/data
  
  frontend:
    container_name: frontend
    restart: unless-stopped
    build: ./frontend
    ports:
      - "3000:3000"
    networks:
      - app-network
    depends_on:
      - api
  
  redis:
    image: redis:7
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge